<h1>Editing Artist</h1>

<%= render 'form', artist: @artist %>

<%= link_to 'Show Artist', @artist %>
<span>|</span>
<%= link_to 'Back to Artists List', artists_path %>

<%# TODO: these back buttons make no sense in most cases %>
