<h1>Editing Recommendation</h1>

<pre>TODO: Edits made here will generally create the new data
you want without cleaning up the old data you don't want. Please
keep tabs on what you're doing and remember to clean up the bad
data manually until I can get this fixed.
You can also just delete the rec and make a new one, but you
won't be able to attribute the new one to the original recommender.</pre>

<%= render 'form', recommendation: @recommendation %>

<%= link_to 'Show', @recommendation %> |
<%= link_to 'Back to Recommendations', recommendations_path %>
