<h1>New Recommendation</h1>

<%= render 'form', recommendation: @recommendation %>


<% if current_user&.role == 'admin' %>
  <%= link_to 'Back to Recommendation', recommendations_path %>
  <span>|</span>
<% end %>
<%= link_to 'Back to Albums', albums_path %>