<h1>Editing Album</h1>

<pre>TODO: Edits made here will generally create the new data
you want without cleaning up the old data you don't want. Please
keep tabs on what you're doing and remember to clean up the bad
data manually until I can get this fixed.
Might be easier just delete the album and make a new one</pre>

<%= render 'form', album: @album %>

<%= link_to 'Show', @album %> |
<%= link_to 'Back', albums_path %>
