// Place all the styles related to the Albums controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.grid {
  width: calc(100% + 2rem);
  margin-left: -1rem;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;

  border-top: 1px solid var(--c-border);
  padding-bottom: 1rem;

  &:nth-child(even) { background-color: var(--c-bg-alt); }
  &:last-of-type { border-bottom: 1px solid var(--c-border); }

  > div {
    padding: 0 1rem;
  }
}

@media screen and (min-width: 448px) {
  .grid {
    grid-template-columns: 1fr 1fr;
  }

  .title {
    grid-column-start: 1;
    grid-column-end: 3;
  }
}

@media screen and (min-width: 800px) {
  .grid {
    grid-template-columns: 2fr 2fr 1fr 1fr ;
  }

  .title {
    grid-column-start: 1;
    grid-column-end: 5;
  }
}